<h1><%= current_user.email %></h1>

<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>

<% if @events.present? %>
    <% @user.events.each do |e| %>
        <li>
            <%= link_to e.name%>
        </li>
    <% end %>
<% else %>
    <h3>This user has no events at this time. </h3>
<% end %>